<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281746383918-l4psklo5a89a23971rn26u4afur7k82t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281746383918-l4psklo5a89a23971rn26u4afur7k82t</string>
	<key>API_KEY</key>
	<string>AIzaSyCTE8xp-oFHZSSOEXSdnBEw5DmNLMjGnCA</string>
	<key>GCM_SENDER_ID</key>
	<string>281746383918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canada.hangr</string>
	<key>PROJECT_ID</key>
	<string>hangr-c3466</string>
	<key>STORAGE_BUCKET</key>
	<string>hangr-c3466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281746383918:ios:c6917857afff30d9e2abbf</string>
</dict>
</plist>